/*============================================ RESETTING-STYLES ==============================*/
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

address{
    font-style: normal;
}

a {
    text-decoration: none; 
    color: inherit;  
}


/*================================================= COLOUR-PALLETTE ==============================*/
/*added all colours for later use*/
:root {
    --white: #FFFFFF; /*WHITE*/
    --primary-brand: #4D5AE5; /*IRIS*/
    --pressed:#404BBF; /*OCEAN*/
    --dark: #2E2F42; /*NAVY BLUE*/
    --success: #31D0AA; /*GREEN*/
    --text: #434455; /*SLATE*/
    --subtle-text: #8E8F99;/*LIGHT SLATE*/
    --accent: #E7E9FC; /*CORNFLOWER*/
    --light: #F4F4FD; /*CLOUD*/
    --modal-overlay: #2E2F42;/*NAVY BLUE MODAL*/
    --hero-background: #2E2F42; /*GREY*/
}

/*================================================ TEXT-STYLES ==============================*/

/*main text style, hence using 'body' tag instead of class*/

body { /*BODY*/
    color: var(--text);
    background-color: var(--white);

    font-family: "Roboto", sans-serif;

    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-subtitle {
    color: var(--dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.item-subtitle {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}


/*=================================================ELEMENT-STYLES ==============================*/

/*----------------( < 480px )----------------------------------------------*/

.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section {
    border-bottom: 1px solid var(--accent);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-header {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;

    letter-spacing: 0.03em;
    color: var(--dark);
}

.web {
    color: var(--primary-brand);
}

.stack-menu-button {
    -webkit-tap-highlight-color: transparent;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 24px;
    padding-bottom: 24px;

    background-color: transparent;
    border: none;

}

.stack-button-icon {
   
    width: 32px;
    height: 22px;
    fill: var(--dark);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.stack-menu-button:is(:hover, :focus) > .stack-button-icon {
    fill: var(--primary-brand);
}


.mobile-menu {
    z-index: 10;
    position: fixed;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: var(--white);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.mobile-menu.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 428px;
    padding-left: 40px;
    padding-right: 35px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.mobile-menu-item {
    -webkit-tap-highlight-color: transparent;
    color: var(--dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    margin-bottom: 40px;

    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-item:hover, .mobile-menu-item:focus, .mobile-menu-item:active {
    color: var(--pressed);
}

.mobile-flex-group
{
    margin-top: auto;
}
.mobile-tel-link {
    -webkit-tap-highlight-color: transparent;
    display: block;
    color: var(--primary-brand);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

  
}

.mobile-mail-link {
    -webkit-tap-highlight-color: transparent;
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    margin-top: 40px;
}

.mobile-menu-media-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
}

.mobile-menu-media-item {
    -webkit-tap-highlight-color: transparent;
display: flex;
justify-content: center;
align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
    background-color: var(--primary-brand);

    transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-media-item:is(:hover, :focus) {
background-color: var(--pressed);
}

.mobile-menu-media-icon {
    width: 24px;
    height: 24px;
    fill: var(--light);

}
   

.mobile-menu-close-button {
    -webkit-tap-highlight-color: transparent;
    
    position: absolute;
        top: 24px;
        right: 24px;
    
        width: 24px;
        height: 24px;
    
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
    
        background-color: var(--accent);
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        transition-property: background-color, border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button.stack-menu-button:is(:hover, :focus) {
    background-color: var(--pressed);
        border-color: var(--pressed);
}

.mobile-menu-close-icon {
    width: 8px;
        height: 8px;
    
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button.stack-menu-button:is(:hover, :focus) > .mobile-menu-close-icon {
    fill: var(--white);
}




@media screen and (max-width: 767.5px) {

    .nav-list {
        display: none;
    }

    .address-section {
        display: none;
    }
}

@media screen and (min-width: 480px) {

.container {
    max-width: 428px;
}

}

@media screen and (min-width: 768px) {
    
.container {
     max-width: 768px;
}

}

@media screen and (min-width: 1200px) {

    .container {
        max-width: 1158px;
    }
}